<form method="post" action="">
  {% csrf_token %}

  <h2>Relevant Contact</h2>
  {{ relevant_contact_formset.management_form }}
  <table>
    {% for form in relevant_contact_formset %}
      {{ form }}
    {% endfor %}
  </table>

  <h2>Admission</h2>
  {{ admission_formset.management_form }}
  <table>
    {% for form in admission_formset %}
      {{ form }}
    {% endfor %}
  </table>

  <h2>Allergies</h2>
  {{ allergies_formset.management_form }}
  <table>
    {% for form in allergies_formset %}
      {{ form }}
    {% endfor %}
  </table>
  <input type="submit">

</form>
